*.cache
*.log
*.vhdx
*.iso
*.txt
*.zip
*.png
*.idea
dist
build

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in
csx/
rcf/
[Oo]bj
logistics/bin
.vs/
.idea/

#User-specific files
*.suo
*.csproj.user
*.ccproj.user
*.sln.DotSettings.user
*.csproj.DotSettings.user
*.pubxml.user
*.dbmdl
.vs/
# Resharper files
_ReSharper.*
*.resharper
*.resharper.user

#Others
*.orig
*.original
*.AssemblyAttributes.cs
*.AssemblyInfo.cs
*.csprojAssemblyReference.cache
*.AssemblyInfoInputs.cache
tools/*
bin/
obj/
Debug/
Release/
